@page
@model Courses.IndexModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Liste der Lehrveranstaltungen</h1>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Ects</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.Courses)
        {
            <tr>
                <td>@a.Title</td>
                <td>@a.Ects</td>
                <td>@a.ProfessorLastName, @a.ProfessorFirstName</td>
            </tr>
        }
    </tbody>
</table>