@page "{CustomerGuid}"
@model SPG_Fachtheorie.Aufgabe3.RazorPages.Pages.Stickers.AddModel
@section head {
}

<h1>Neue Vigentte kaufen</h1>

<form method="post">
    <div>
        <label>Auf den Kunden registierte Fahrzeug</label>
        <select asp-for="Command.VehicleId" asp-items="@Model.Vehichles"></select>
        <br />
    </div>
    <div>
        <label>Art der Vignette</label>
        <select asp-for="Command.StickerTypeId" asp-items="@Model.StickerTypes"></select>
        <br />
    </div>
    <div>
        <label>Datum</label>
        <input type="date" asp-for="Command.ValidFrom"/>
        <br />
    </div>
    <button type="submit">Bestaetigen</button>
</form>