@page
@model SPG_Fachtheorie.Aufgabe3.RazorPages.Pages.EventsModel
@section head {
}
<h1>Übersicht über die Events</h1>

<style>
    tbody tr:hover {
        background-color: lightgreen;
    }
</style>

<table>
    <thead>
        @foreach (var a in Model.EventsList.OrderBy(s => s.Name))
        {
        <th>@a.Name</th>
        <tr>
            <th>Showtermin</th>
            <th>Aktionen</th>
        </tr>
        <tbody class="justgreen">

                @foreach (var b in a.ShowDTOs.Where(s => s.Date > new DateTime(2024, 1, 16, 0, 0, 0)).OrderBy(s => s.Date))
                {
                <tr>
                    <td>@b.Date.ToString("dd.MM.yyyy")</td>
                    <td><a asp-page="/Contingents" asp-route-showId="@b.Id">Contigents</a></td>
                </tr>
                }
        </tbody>
        }
    </thead>
</table>